---
layout: page
title: "About Me"
description: "Hey, this is Zhai Yu from Peking University."
header-img: "img/about-BY-gentle.jpg.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <blockquote><p>冰冻三尺 非一日之寒<br>
    积土成山 非斯须之作</p></blockquote>
    
    <p>你好，我是<strong>翟雨(Zhai Yu)</strong>。我是香港理工大学在读博士研究生，曾就读于北京大学软件与微电子学院，研究领域为本体、知识工程、自然语言处理、大语言模型训练与推理。</p>
    
    <p>工作、学习之余，我还是一个猫咪与美食爱好者，热衷绘画、游泳和骑行。</p>
       
    <!-- <img src="https://cdn.jsdelivr.net/gh/sylviara/sylviara.github.io@master/img/QQ20221011131439.png" alt=''> -->
	
	<p>我的代表作品：</p>
       
    <p><a href="https://pubmed.ncbi.nlm.nih.gov/40776234">[S.1] Zhai Yu, et al. (2025). Detection of Information Seeking Posts from Domestic Violence Survivors Online: In-Context Code-Mixing for Cantonese. Conference paper accepted at the 20th World Congress on Medical and Health Informatics: MedInfo 2025.</a></p>

<p>
<a href="https://aclanthology.org/2024.smm4h-1.17">[C.1] Zhai Yu, et al. (2024). LLM-based Medical Disorder and Adverse Drug Event Detection with Low-rank Adaptation. In Social Media Mining for Health Research and Applications Workshop and Shared Tasks, pp. 74-78. Association for Computational Linguistics (ACL).</a>
</p>

<p><a href="https://www.arocmag.cn/abs/2024.07.0263">[J.1] Liu Yao, Zhai Yu, and Zhou Jiahui. (2024). Research on structured parsing of medical consultation system text based on prior knowledge. Application Research of Computers, Vol. 42, Issue 04, pp. 1143-1149. DOI:10.19734/j.issn.1001-3695.2024.07.0263. </a>
</p>
<p>
<a href="http://e.dangdang.com/products/1901357127.html">[B.1] Xu Bin, Zhai Yu, and Song Yanzhuo. (2024). Swallows and Amazons (Chinese-English Version) (Chinese Edition). Yilin Press}. ISBN 13:  978-7575300902.</a>
</p>
<p>
<a href="https://doi.org/10.32714/ricl.11.02.07">[J.2] Zhai Yu, and Xu Bin. (2023). A corpus-based study of embellishment in translations of the Newbery Medal Awards. Research in Corpus Linguistics, Vol. 11, Issue 02, pp.125-140. DOI: 10.32714/ricl.11.02.07.</a>
</p>
<p>
<a href="https://www.joca.cn/CN/10.11772/j.issn.1001-9081.2022060929">[J.3] Liu Yao, Liu Ru and Zhai Yu. (2023). Self-adaptive Web crawler code generation method based on webpage source code structure comprehension. Journal of Computer applications, Vol. 43, Issue 06, pp. 1779-1784. DOI: 10.11772/j.issn.1001-9081.2022060929.</a>
</p>
<p>[P.1] Liu Yao, Zhang Jin, Zhu Lijun, and Zhai Yu. (2022). Data processing method, device, electronic device and computer readable storage medium. Patent No. CN114999599A. Registration Date: 2022-05-26, Grant Date: 2022-09-02, Publication Date: 2022-09-02.
</p>
<p>
<a href="http://www.ijklp.org/archives/vol12no2/index.html">[J.4] Liu Yao, and Zhai Yu. (2021). Review of Self-Adaptive Web Crawler Research Based on Comprehension of Webpage HTML. International Journal of Knowledge and Language Processing, Vol. 12(2), pp. 1-16.</a></p>

    <h5>Contact Me</h5>
    
    <ul>
        <li>电话: +86-150-6408-7885</li>
    <li>微信ID: Tonyanayu</li>
    <li><a href="https://jaieu.github.io">Github账号</a></li>
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Cat Lover. <br>
    Yet another M.S. Student.</p></blockquote>

    <p>Hi, I am <strong>Zhai Yu</strong>，you can call me <strong>Tonya</strong>. I am a Ph.D. student in Hong Kong Polytechnic University and used to study in Peking University.</p>
    
    <!--<p>This is my personal website, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/Jaieu">Github·BY</a>.</p>-->
    
    <p>My research interests are computer linguistics, corpus-based study, ontology, knowledge-graph building, NLP and LLM</p>
    
    <h5>Contact Me</h5>
    
    <ul>
    <li>Tel.: 15064087885</li>
    <li>Wechat: Tonyanayu</li>
    <li><a href="https://jaieu.github.io">Github</a></li>
    </ul>
</div> 

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);
    
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

